html {
    background-color: rgb(0, 0, 0);
}

.home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.home-spacing {
    padding-bottom: 20px;
}

.home-header {
    font-size: calc(10px + 2vmin);
}

.button1 {
    background: white;
    border: 1px solid white;
    color: black;
    padding: 15px 0px;
    width: 240px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.2s;
}

.button1:hover {
    background: black;
    color: white;
}

.button1:active {
    background: rgb(50,50,50);
    color: white;
}

.square-green {
    background: rgb(44, 109, 28);
    border: 3px solid rgb(100, 100, 100);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 75px;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
}

.square-white {
    background: white;
    border: 3px solid rgb(100, 100, 100);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 75px;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
}